---
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Container from "@components/Container.astro";
import PageHeader from "@components/PageHeader.astro";
import TagPill from "@components/TagPill.astro";

const posts = await getCollection("blog", ({ data }) => !data.draft);
const tags = [...new Set(posts.flatMap((post) => post.data.tags || []))].sort();
---

<Layout title="Tags" description="List of tags used.">
  <Container>
    <div class="space-y-10">
      <PageHeader
        title="Tags."
        subtitle={`${tags.length} topics`}
      />
      <div class="animate border-t border-zinc-200 dark:border-zinc-800 pt-8 flex flex-wrap gap-3">
        {
          tags.map((tag) => {
            const count = posts.filter((post) =>
              post.data.tags?.includes(tag),
            ).length;
            return <TagPill tag={tag} count={count} />;
          })
        }
      </div>
    </div>
  </Container>
</Layout>
