---
import { cn } from "@lib/utils";

type Props = {
  href: string;
  external?: boolean;
  underline?: boolean;
  group?: boolean;
  class?: string;
};

const {
  href,
  external,
  underline = true,
  group = false,
  ...rest
} = Astro.props;
---

<a
  href={href}
  target={external ? "_blank" : "_self"}
  class={cn(
    "inline-block decoration-zinc-300 dark:decoration-zinc-600 hover:decoration-zinc-500 focus-visible:decoration-zinc-500 dark:hover:decoration-zinc-400 dark:focus-visible:decoration-zinc-400 text-current hover:text-zinc-900 focus-visible:text-zinc-900 dark:hover:text-zinc-50 dark:focus-visible:text-zinc-50 transition-colors duration-150",
    underline && "underline underline-offset-[3px]",
    group && "group",
  )}
  {...rest}
>
  <slot />
</a>
