---
import type { CollectionEntry } from "astro:content";
import ArrowIcon from "@components/ArrowIcon.astro";

type Props = {
  prevPost?: CollectionEntry<"blog"> | null;
  nextPost?: CollectionEntry<"blog"> | null;
};

const { prevPost, nextPost } = Astro.props;
---

<div class="grid grid-cols-2 gap-1.5 sm:gap-3">
  {
    prevPost?.id ? (
      <a
        href={`/blog/${prevPost.id.replace(/\.(md|mdx)$/, "")}`}
        class="group card-interactive relative flex flex-nowrap rounded-lg border border-zinc-200 px-4 py-3 pl-10 no-underline hover:bg-zinc-100 hover:text-zinc-900 focus-visible:bg-zinc-100 focus-visible:text-zinc-900 dark:border-zinc-700 dark:hover:bg-zinc-800/60 dark:hover:text-zinc-50 dark:focus-visible:bg-zinc-800/60 dark:focus-visible:text-zinc-50"
      >
        <ArrowIcon
          direction="left"
          size={5}
          class="absolute top-1/2 left-2 -translate-y-1/2"
        />
        <div class="flex items-center text-sm">{prevPost?.data.title}</div>
      </a>
    ) : (
      <div class="invisible" />
    )
  }

  {
    nextPost?.id ? (
      <a
        href={`/blog/${nextPost.id.replace(/\.(md|mdx)$/, "")}`}
        class="group card-interactive relative flex grow flex-row-reverse flex-nowrap rounded-lg border border-zinc-200 px-4 py-4 pr-10 no-underline hover:bg-zinc-100 hover:text-zinc-900 focus-visible:bg-zinc-100 focus-visible:text-zinc-900 dark:border-zinc-700 dark:hover:bg-zinc-800/60 dark:hover:text-zinc-50 dark:focus-visible:bg-zinc-800/60 dark:focus-visible:text-zinc-50"
      >
        <ArrowIcon
          direction="right"
          size={5}
          class="absolute top-1/2 right-2 -translate-y-1/2"
        />
        <div class="flex items-center text-sm">{nextPost?.data.title}</div>
      </a>
    ) : (
      <div class="invisible" />
    )
  }
</div>
